<li class="list-group-item">
  <!-- item content -->
  <% if todo_item.completed? %>
    <div class="todo_item">
      <p style="opacity: 0.4;"><strike><%= todo_item.content %></strike></p>
    </div>
  <% else %>
    <div class="todo_item">
      <p><%= todo_item.content %></p>
    </div>
  <% end %>

  <!-- item actions -->
  <div class="actions">
    <%= link_to "Mark as Complete", complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch , class: 'btn btn-success btn-sm' %>
    <%= link_to "Delete", todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm' %>
  </div>

</li>
